finpay_pipeline.yml
id: finpay_daily_pipeline_v5
namespace: finance.finpay

# ── MANUAL RUN WITH FILE UPLOAD ─────────────────────────────────────────────────
# cluster_id is auto-extracted from the filename (finpay-<cluster_id>(...).csv)
inputs:
  - id: csv_file
    type: FILE
    displayName: "CSV or XLSX file to process"
    description: "Upload the Alfred-finpay CSV or XLSX directly. Filename must match: finpay-<cluster_id>(<DD-MM-YYYY>to<DD-MM-YYYY>).csv|xlsx"
    required: true

  - id: dry_run
    type: BOOLEAN
    displayName: "Dry run?"
    description: "true → validate + relabel + summarize + flag only. false → full production run."
    defaults: false

tasks:
  # ── PERFORMANCE NOTE ─────────────────────────────────────────────────────────
  # parse_and_resolve (task 1) and load_and_validate (task 2) are fully independent
  # — both only need inputs.csv_file. Wrap them in io.kestra.plugin.core.flow.Parallel
  # once you verify output reference syntax matches your Kestra server version.
  # ─────────────────────────────────────────────────────────────────────────────

  # ── TASK 1 ─ Parse filename + resolve cluster config ─────────────────────────
  # cluster_id is extracted from the filename — no manual input needed.
  - id: parse_and_resolve
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT2M
    env:
      CSV_PATH: "{{ inputs.csv_file }}"
    script: |
      import re, os, sys
      from datetime import datetime, timedelta
      from kestra import Kestra

      file_path = os.environ["CSV_PATH"]

      PATTERN = re.compile(
          r"finpay-(\d+)[(_](\d{2}-\d{2}-\d{4})to\d{2}-\d{2}-\d{4}[)_]?\.(csv|xlsx|xls)$"
      )

      filename = os.path.basename(file_path)
      m = PATTERN.match(filename)
      if not m:
          print(f"ERROR: Filename doesn't match expected pattern: {filename}", file=sys.stderr)
          print("Expected: finpay-<cluster_id>(<DD-MM-YYYY>to<DD-MM-YYYY>).<csv|xlsx|xls>", file=sys.stderr)
          sys.exit(1)

      cluster_id = m.group(1)
      raw        = m.group(2)
      d, mo, y   = raw.split("-")
      file_date  = datetime.strptime(raw, "%d-%m-%Y").date()
      first_day_file_month = file_date.replace(day=1)
      starting_balance_date = (first_day_file_month - timedelta(days=1)).isoformat()

      CLUSTERS = {
          "421306": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "MRT",
              "default_starting_balance": 0,
          },
          "421307": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "TDR",
              "default_starting_balance": 0,
          },
          "411311": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "PKY",
              "default_starting_balance": 0,
          },
          "421315": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "BGI",
              "default_starting_balance": 0,
          },
          "421318": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "MRW",
              "default_starting_balance": 0,
          },
          "421320": {
              "target_spreadsheet":       "MONITORING FINPAY",
              "target_worksheet":         "TNT",
              "default_starting_balance": 0,
          },
      }

      config = CLUSTERS.get(cluster_id)
      if not config:
          print(f"ERROR: cluster_id '{cluster_id}' extracted from filename is not configured.", file=sys.stderr)
          sys.exit(1)

      outputs = {
          "cluster_id": cluster_id,
          "raw_date":   raw,
          "iso_date":   file_date.isoformat(),
          "file_path":  file_path,
          "filename":   filename,
          "unusual_worksheet": f"{config['target_worksheet']} - Unusual",
          "qrisduwit_worksheet": f"{config['target_worksheet']} - QRISDUWIT",
          "reversal_worksheet": f"{config['target_worksheet']} - Reversal",
          "starting_balance_date": starting_balance_date,
          **config,
      }

      print(f"📄 File       : {filename}")
      print(f"🗂  Cluster    : {cluster_id}")
      print(f"📅 Date       : {raw}  (iso: {y}-{mo}-{d})")
      print(f"📊 Worksheet  : {config['target_worksheet']}")
      print(f"🚩 Unusual    : {outputs['unusual_worksheet']}")
      print(f"🔎 QRISDUWIT  : {outputs['qrisduwit_worksheet']}")
      print(f"↩️  Reversal   : {outputs['reversal_worksheet']}")
      print(f"💰 Balance dt : {starting_balance_date}")
      Kestra.outputs(outputs)

  # ── TASK 2 ─ Determine run date + stable summary worksheet ──────────────────
  - id: determine_current_date
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT1M
    env:
      BASE_WORKSHEET: "{{ outputs.parse_and_resolve.vars.target_worksheet }}"
      RUN_TIMEZONE: "Asia/Makassar"
    script: |
      import os
      from datetime import datetime
      from zoneinfo import ZoneInfo
      from kestra import Kestra

      timezone = os.environ["RUN_TIMEZONE"]
      base_worksheet = os.environ["BASE_WORKSHEET"]
      now = datetime.now(ZoneInfo(timezone))
      summary_worksheet = base_worksheet

      outputs = {
          "run_date": now.date().isoformat(),
          "run_timestamp": now.isoformat(),
          "run_year": now.strftime("%Y"),
          "run_month": now.strftime("%m"),
          "timezone": timezone,
          "summary_worksheet": summary_worksheet,
      }

      print(f"🕒 Run date          : {outputs['run_date']} ({timezone})")
      print(f"📊 Summary worksheet : {summary_worksheet}")
      Kestra.outputs(outputs)

  # ── TASK 3 ─ Load & validate schema ──────────────────────────────────────────
  - id: load_and_validate
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT5M
    inputFiles:
      source_file: "{{ inputs.csv_file }}"
    outputFiles:
      - validated.parquet
    script: |
      import os, sys
      sys.path.insert(0, "/app")
      from pipeline import load_and_validate_schema
      from kestra import Kestra

      source_file = "source_file"
      print(f"📂 Loading: {source_file}")

      try:
          df = load_and_validate_schema(source_file)
      except ValueError as e:
          print(f"❌ Schema validation failed:\n{e}", file=sys.stderr)
          sys.exit(1)

      df.to_parquet("validated.parquet", index=False)

      print(f"✅ Loaded {len(df)} rows, {len(df.columns)} columns.")
      Kestra.outputs({"rows": len(df), "columns": list(df.columns)})

  # ── TASK 4 ─ Validate debit/credit integrity ─────────────────────────────────
  - id: validate_integrity
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT3M
    inputFiles:
      validated.parquet: "{{ outputs.load_and_validate.outputFiles['validated.parquet'] }}"
    outputFiles:
      - integrity_checked.parquet
    script: |
      import sys, pandas as pd
      sys.path.insert(0, "/app")
      from pipeline import validate_debit_credit_integrity
      from kestra import Kestra

      df = pd.read_parquet("validated.parquet")

      try:
          df = validate_debit_credit_integrity(df)
      except ValueError as e:
          print(f"❌ Integrity check failed:\n{e}", file=sys.stderr)
          sys.exit(1)

      df.to_parquet("integrity_checked.parquet", index=False)

      print(f"✅ Integrity check passed. Rows: {len(df)}")
      Kestra.outputs({"rows": len(df)})

  # ── TASK 5 ─ Persist true raw transactions to FinPay Postgres ───────────────
  - id: persist_raw_transactions_to_db
    type: io.kestra.plugin.scripts.python.Script
    runIf: "{{ inputs.dry_run == false }}"
    containerImage: finpay-pipeline:3.11
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: finpay-network
    pythonVersion: "3.11"
    timeout: PT5M
    inputFiles:
      integrity_checked.parquet: "{{ outputs.validate_integrity.outputFiles['integrity_checked.parquet'] }}"
    env:
      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
      FINPAY_DB_HOST: finpay-postgres
      FINPAY_DB_PORT: "5432"
      FINPAY_DB_NAME: finpay
      FINPAY_DB_USER: finpay
      FINPAY_DB_PASSWORD: finpay
    script: |
      import os, sys, pandas as pd
      sys.path.insert(0, "/app")
      from pipeline import postgres_dsn_from_env, write_finpay_dataframe_to_postgres
      from kestra import Kestra

      df = pd.read_parquet("integrity_checked.parquet")
      rows = write_finpay_dataframe_to_postgres(
          df=df,
          table_name="finpay_raw_transactions",
          cluster_id=os.environ["CLUSTER_ID"],
          report_date=os.environ["ISO_DATE"],
          dsn=postgres_dsn_from_env(),
      )

      print(f"✅ Persisted raw transactions to Postgres. Rows: {rows}")
      Kestra.outputs({"rows": rows, "table": "finpay_raw_transactions"})

  # ── TASK 6 ─ Preprocess transaction labels before unusual detection ─────────
  - id: preprocess_transaction_labels
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT3M
    inputFiles:
      integrity_checked.parquet: "{{ outputs.validate_integrity.outputFiles['integrity_checked.parquet'] }}"
    outputFiles:
      - preprocessed.parquet
    script: |
      import sys, pandas as pd
      sys.path.insert(0, "/app")
      from pipeline import preprocess_transaction_labels
      from kestra import Kestra

      df = pd.read_parquet("integrity_checked.parquet")
      df["raw_transaction_label"] = df["Transaction"]
      before_counts = {str(k): int(v) for k, v in df["Transaction"].value_counts().items()}
      df = preprocess_transaction_labels(df)
      df["processed_transaction_label"] = df["Transaction"]
      after_counts = {str(k): int(v) for k, v in df["Transaction"].value_counts().items()}

      out_cluster_rows = int(
          df["Transaction"].isin(["RECHARGE OUT CLUSTER", "RECHARGE OUT CLUSTER FEE"]).sum()
      )
      reversal_rows = int(
          df["Transaction"].astype(str).str.startswith("Reversal - ").sum()
      )

      df.to_parquet("preprocessed.parquet", index=False)

      print(f"✅ Transaction preprocessing complete. Rows: {len(df)}")
      print(f"✅ Out-cluster rows relabeled: {out_cluster_rows}")
      print(f"✅ Reversal rows relabeled: {reversal_rows}")
      Kestra.outputs({
          "rows": len(df),
          "out_cluster_rows": out_cluster_rows,
          "reversal_rows": reversal_rows,
          "before_counts": before_counts,
          "after_counts": after_counts,
      })

  # ── TASK 7 ─ Flag unusual rows before calculation dedup ─────────────────────
  - id: flag_unusual_transactions
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    timeout: PT3M
    inputFiles:
      preprocessed.parquet: "{{ outputs.preprocess_transaction_labels.outputFiles['preprocessed.parquet'] }}"
    outputFiles:
      - unusual.parquet
    env:
      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
      DRY_RUN: "{{ inputs.dry_run }}"
    script: |
      import os, sys, pandas as pd
      sys.path.insert(0, "/app")
      from pipeline import flag_unusual_transactions
      from kestra import Kestra

      cluster_id = os.environ["CLUSTER_ID"]
      iso_date   = os.environ["ISO_DATE"]
      dry_run    = os.environ.get("DRY_RUN", "false").lower() == "true"

      df = pd.read_parquet("preprocessed.parquet")
      unusual_df = flag_unusual_transactions(df)
      unusual_df.to_parquet("unusual.parquet", index=False)

      unusual_groups = int(unusual_df["base_id"].nunique()) if not unusual_df.empty else 0
      reasons = sorted(unusual_df["unusual_reason"].dropna().unique().tolist()) if not unusual_df.empty else []

      print(f"\n{'='*60}")
      print(f"UNUSUAL TRANSACTIONS — Cluster {cluster_id} — {iso_date}")
      if dry_run:
          print("⚠️  DRY RUN — unusual rows not written to sheet")
      print(f"{'='*60}")
      if unusual_df.empty:
          print("No unusual transactions found.")
      else:
          display_cols = [
              "No", "Transaction Date", "Transaction ID", "Transaction",
              "Kredit", "Debet", "base_id", "unusual_reason",
          ]
          print(unusual_df[[c for c in display_cols if c in unusual_df.columns]].to_string(index=False))
      print(f"{'='*60}\n")

      Kestra.outputs({
          "unusual_rows": len(unusual_df),
          "unusual_groups": unusual_groups,
          "has_unusual": not unusual_df.empty,
          "reasons": reasons,
      })

  # ── TASK 7 ─ Split unusual upload from summary path ─────────────────────────
  - id: branch_after_unusual_flag
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      # ── TASK 9 ─ Persist unusual transactions to FinPay Postgres ────────────
      - id: persist_unusual_to_db
        type: io.kestra.plugin.scripts.python.Script
        runIf: "{{ inputs.dry_run == false }}"
        containerImage: finpay-pipeline:3.11
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: finpay-network
        pythonVersion: "3.11"
        timeout: PT5M
        inputFiles:
          unusual.parquet: "{{ outputs.flag_unusual_transactions.outputFiles['unusual.parquet'] }}"
        env:
          CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
          ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
          FINPAY_DB_HOST: finpay-postgres
          FINPAY_DB_PORT: "5432"
          FINPAY_DB_NAME: finpay
          FINPAY_DB_USER: finpay
          FINPAY_DB_PASSWORD: finpay
        script: |
          import os, sys, pandas as pd
          sys.path.insert(0, "/app")
          from pipeline import postgres_dsn_from_env, write_finpay_dataframe_to_postgres
          from kestra import Kestra

          unusual_df = pd.read_parquet("unusual.parquet")
          rows = write_finpay_dataframe_to_postgres(
              df=unusual_df,
              table_name="finpay_unusual_transactions",
              cluster_id=os.environ["CLUSTER_ID"],
              report_date=os.environ["ISO_DATE"],
              dsn=postgres_dsn_from_env(),
          )

          print(f"✅ Persisted unusual transactions to Postgres. Rows: {rows}")
          Kestra.outputs({"rows": rows, "table": "finpay_unusual_transactions"})

      # ── TASK 10 ─ Upload unusual transactions immediately ───────────────────
      - id: upload_unusual_to_sheets
        type: io.kestra.plugin.scripts.python.Script
        runIf: "{{ inputs.dry_run == false }}"
        containerImage: finpay-pipeline:3.11
        pythonVersion: "3.11"
        timeout: PT10M
        retry:
          type: exponential
          interval: PT15S
          maxInterval: PT60S
          maxAttempts: 3
        inputFiles:
          unusual.parquet: "{{ outputs.flag_unusual_transactions.outputFiles['unusual.parquet'] }}"
        env:
          TARGET_SPREADSHEET: "{{ outputs.parse_and_resolve.vars.target_spreadsheet }}"
          TARGET_WORKSHEET: "{{ outputs.parse_and_resolve.vars.unusual_worksheet }}"
          SECRET_GCP_SA_KEY: "{{ secret('GCP_SA_KEY') }}"
        script: |
          import os, sys, json, tempfile, pandas as pd
          sys.path.insert(0, "/app")
          from pipeline import process_unusual_upload, make_gspread_client
          from kestra import Kestra

          sa_key_json = os.environ.get("SECRET_GCP_SA_KEY", "")
          if not sa_key_json or sa_key_json.strip() == "{}":
              print("❌ GCP_SA_KEY secret is empty or not set.", file=sys.stderr)
              sys.exit(1)

          sa_key_path = None
          try:
              with tempfile.NamedTemporaryFile(mode="w", suffix=".json", delete=False) as f:
                  f.write(sa_key_json)
                  sa_key_path = f.name

              unusual_df = pd.read_parquet("unusual.parquet")
              client     = make_gspread_client(sa_key_path)

              written = process_unusual_upload(
                  target_spreadsheet=os.environ["TARGET_SPREADSHEET"],
                  target_worksheet=os.environ["TARGET_WORKSHEET"],
                  unusual_df=unusual_df,
                  gspread_client=client,
              )

              status = "success" if written else "skipped_duplicate"
              print(f"✅ Unusual transaction upload status: {status}. Rows: {len(unusual_df)}")
              Kestra.outputs({
                  "status": status,
                  "rows": len(unusual_df),
                  "worksheet": os.environ["TARGET_WORKSHEET"],
              })
          finally:
              if sa_key_path and os.path.exists(sa_key_path):
                  os.unlink(sa_key_path)

      # ── TASK 9 ─ Alert Telegram only when unusual rows exist ────────────────
      - id: notify_unusual_telegram
        type: io.kestra.plugin.core.http.Request
        runIf: "{{ inputs.dry_run == false and outputs.flag_unusual_transactions.vars.unusual_rows > 0 }}"
        uri: "https://api.telegram.org/bot{{ secret('TELEGRAM_BOT_TOKEN') }}/sendMessage"
        method: POST
        contentType: multipart/form-data
        retry:
          type: exponential
          interval: PT15S
          maxInterval: PT60S
          maxAttempts: 3
        formData:
          chat_id: "{{ secret('TELEGRAM_CHAT_ID') }}"
          text: |
            FinPay unusual transactions detected!!!

            Flow: {{ flow.namespace }}.{{ flow.id }}
            Execution: {{ execution.id }}
            Cluster: {{ outputs.parse_and_resolve.vars.cluster_id }}
            File date: {{ outputs.parse_and_resolve.vars.iso_date }}
            Unusual rows: {{ outputs.flag_unusual_transactions.vars.unusual_rows }}
            Unusual groups: {{ outputs.flag_unusual_transactions.vars.unusual_groups }}
            Worksheet: {{ outputs.parse_and_resolve.vars.unusual_worksheet }}
            Reasons: {{ outputs.flag_unusual_transactions.vars.reasons }}

            Check the unusual worksheet for further analysis.

      # ── TASK 10 ─ Continue calculation/detail processing after unusual flag ──
      - id: downstream_processing_branch
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          - id: deduplicate_transactions
            type: io.kestra.plugin.scripts.python.Script
            containerImage: finpay-pipeline:3.11
            pythonVersion: "3.11"
            timeout: PT3M
            inputFiles:
              preprocessed.parquet: "{{ outputs.preprocess_transaction_labels.outputFiles['preprocessed.parquet'] }}"
            outputFiles:
              - deduplicated.parquet
            script: |
              import sys, pandas as pd
              sys.path.insert(0, "/app")
              from pipeline import drop_duplicate_rows_by_minute
              from kestra import Kestra

              df = pd.read_parquet("preprocessed.parquet")
              before_rows = len(df)
              df = drop_duplicate_rows_by_minute(df)
              after_rows = len(df)

              df.to_parquet("deduplicated.parquet", index=False)

              print(f"✅ Deduplication complete. Rows: {before_rows} → {after_rows}")
              Kestra.outputs({
                  "before_rows": before_rows,
                  "after_rows": after_rows,
                  "dropped_rows": before_rows - after_rows,
              })

          - id: post_dedup_branches
            type: io.kestra.plugin.core.flow.Sequential
            tasks:
              # ── TASK 10 ─ Export QRISDUWIT detail rows ─────────────────────────────
              - id: qrisduwit_upload_branch
                type: io.kestra.plugin.core.flow.Sequential
                tasks:
                  - id: filter_qrisduwit_rows
                    type: io.kestra.plugin.scripts.python.Script
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT3M
                    inputFiles:
                      deduplicated.parquet: "{{ outputs.deduplicate_transactions.outputFiles['deduplicated.parquet'] }}"
                    outputFiles:
                      - qrisduwit.parquet
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      DRY_RUN: "{{ inputs.dry_run }}"
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import prepare_transaction_detail_export
                      from kestra import Kestra

                      cluster_id = os.environ["CLUSTER_ID"]
                      iso_date = os.environ["ISO_DATE"]
                      dry_run = os.environ.get("DRY_RUN", "false").lower() == "true"

                      df = pd.read_parquet("deduplicated.parquet")
                      qrisduwit_df = prepare_transaction_detail_export(
                          df,
                          transaction="QRISDUWIT",
                          include_disbursement_date=True,
                      )
                      qrisduwit_df.to_parquet("qrisduwit.parquet", index=False)

                      missing_disbursement_dates = int(
                          (qrisduwit_df["Disbursement Date"] == "").sum()
                      ) if not qrisduwit_df.empty else 0

                      print(f"\n{'='*60}")
                      print(f"QRISDUWIT DETAIL — Cluster {cluster_id} — {iso_date}")
                      if dry_run:
                          print("⚠️  DRY RUN — QRISDUWIT rows not written to sheet")
                      print(f"{'='*60}")
                      if qrisduwit_df.empty:
                          print("No QRISDUWIT rows found.")
                      else:
                          display_cols = [
                              "No", "Transaction Date", "Transaction ID", "Transaction",
                              "Kredit", "Debet", "Disbursement Date", "Remarks",
                          ]
                          print(qrisduwit_df[[c for c in display_cols if c in qrisduwit_df.columns]].to_string(index=False))
                      print(f"{'='*60}\n")

                      Kestra.outputs({
                          "rows": len(qrisduwit_df),
                          "missing_disbursement_dates": missing_disbursement_dates,
                      })

                  - id: persist_qrisduwit_to_db
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    taskRunner:
                      type: io.kestra.plugin.scripts.runner.docker.Docker
                      networkMode: finpay-network
                    pythonVersion: "3.11"
                    timeout: PT5M
                    inputFiles:
                      qrisduwit.parquet: "{{ outputs.filter_qrisduwit_rows.outputFiles['qrisduwit.parquet'] }}"
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      FINPAY_DB_HOST: finpay-postgres
                      FINPAY_DB_PORT: "5432"
                      FINPAY_DB_NAME: finpay
                      FINPAY_DB_USER: finpay
                      FINPAY_DB_PASSWORD: finpay
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import postgres_dsn_from_env, write_finpay_dataframe_to_postgres
                      from kestra import Kestra

                      qrisduwit_df = pd.read_parquet("qrisduwit.parquet")
                      rows = write_finpay_dataframe_to_postgres(
                          df=qrisduwit_df,
                          table_name="finpay_qrisduwit_transactions",
                          cluster_id=os.environ["CLUSTER_ID"],
                          report_date=os.environ["ISO_DATE"],
                          dsn=postgres_dsn_from_env(),
                      )

                      print(f"✅ Persisted QRISDUWIT transactions to Postgres. Rows: {rows}")
                      Kestra.outputs({"rows": rows, "table": "finpay_qrisduwit_transactions"})

                  - id: upload_qrisduwit_to_sheets
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT10M
                    retry:
                      type: exponential
                      interval: PT15S
                      maxInterval: PT60S
                      maxAttempts: 3
                    inputFiles:
                      qrisduwit.parquet: "{{ outputs.filter_qrisduwit_rows.outputFiles['qrisduwit.parquet'] }}"
                    env:
                      TARGET_SPREADSHEET: "{{ outputs.parse_and_resolve.vars.target_spreadsheet }}"
                      TARGET_WORKSHEET: "{{ outputs.parse_and_resolve.vars.qrisduwit_worksheet }}"
                      SECRET_GCP_SA_KEY: "{{ secret('GCP_SA_KEY') }}"
                    script: |
                      import os, sys, tempfile, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import process_transaction_detail_upload, make_gspread_client
                      from kestra import Kestra

                      sa_key_json = os.environ.get("SECRET_GCP_SA_KEY", "")
                      if not sa_key_json or sa_key_json.strip() == "{}":
                          print("❌ GCP_SA_KEY secret is empty or not set.", file=sys.stderr)
                          sys.exit(1)

                      sa_key_path = None
                      try:
                          with tempfile.NamedTemporaryFile(mode="w", suffix=".json", delete=False) as f:
                              f.write(sa_key_json)
                              sa_key_path = f.name

                          qrisduwit_df = pd.read_parquet("qrisduwit.parquet")
                          client = make_gspread_client(sa_key_path)

                          written = process_transaction_detail_upload(
                              target_spreadsheet=os.environ["TARGET_SPREADSHEET"],
                              target_worksheet=os.environ["TARGET_WORKSHEET"],
                              detail_df=qrisduwit_df,
                              gspread_client=client,
                              include_disbursement_date=True,
                          )

                          if len(qrisduwit_df) == 0:
                              status = "no_rows"
                          else:
                              status = "success" if written else "skipped_duplicate"
                          print(f"✅ QRISDUWIT upload status: {status}. Rows: {len(qrisduwit_df)}")
                          Kestra.outputs({
                              "status": status,
                              "rows": len(qrisduwit_df),
                              "worksheet": os.environ["TARGET_WORKSHEET"],
                          })
                      finally:
                          if sa_key_path and os.path.exists(sa_key_path):
                              os.unlink(sa_key_path)

              # ── TASK 11 ─ Export REVERSAL detail rows ──────────────────────────────
              - id: reversal_upload_branch
                type: io.kestra.plugin.core.flow.Sequential
                tasks:
                  - id: filter_reversal_rows
                    type: io.kestra.plugin.scripts.python.Script
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT3M
                    inputFiles:
                      deduplicated.parquet: "{{ outputs.deduplicate_transactions.outputFiles['deduplicated.parquet'] }}"
                    outputFiles:
                      - reversal.parquet
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      DRY_RUN: "{{ inputs.dry_run }}"
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import prepare_reversal_detail_export
                      from kestra import Kestra

                      cluster_id = os.environ["CLUSTER_ID"]
                      iso_date = os.environ["ISO_DATE"]
                      dry_run = os.environ.get("DRY_RUN", "false").lower() == "true"

                      df = pd.read_parquet("deduplicated.parquet")
                      reversal_df = prepare_reversal_detail_export(df)
                      reversal_df.to_parquet("reversal.parquet", index=False)

                      print(f"\n{'='*60}")
                      print(f"REVERSAL DETAIL — Cluster {cluster_id} — {iso_date}")
                      if dry_run:
                          print("⚠️  DRY RUN — REVERSAL rows not written to sheet")
                      print(f"{'='*60}")
                      if reversal_df.empty:
                          print("No REVERSAL rows found.")
                      else:
                          display_cols = [
                              "No", "Transaction Date", "Transaction ID", "Transaction",
                              "Kredit", "Debet", "Remarks",
                          ]
                          print(reversal_df[[c for c in display_cols if c in reversal_df.columns]].to_string(index=False))
                      print(f"{'='*60}\n")

                      Kestra.outputs({"rows": len(reversal_df)})

                  - id: persist_reversal_to_db
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    taskRunner:
                      type: io.kestra.plugin.scripts.runner.docker.Docker
                      networkMode: finpay-network
                    pythonVersion: "3.11"
                    timeout: PT5M
                    inputFiles:
                      reversal.parquet: "{{ outputs.filter_reversal_rows.outputFiles['reversal.parquet'] }}"
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      FINPAY_DB_HOST: finpay-postgres
                      FINPAY_DB_PORT: "5432"
                      FINPAY_DB_NAME: finpay
                      FINPAY_DB_USER: finpay
                      FINPAY_DB_PASSWORD: finpay
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import postgres_dsn_from_env, write_finpay_dataframe_to_postgres
                      from kestra import Kestra

                      reversal_df = pd.read_parquet("reversal.parquet")
                      rows = write_finpay_dataframe_to_postgres(
                          df=reversal_df,
                          table_name="finpay_reversal_transactions",
                          cluster_id=os.environ["CLUSTER_ID"],
                          report_date=os.environ["ISO_DATE"],
                          dsn=postgres_dsn_from_env(),
                      )

                      print(f"✅ Persisted Reversal transactions to Postgres. Rows: {rows}")
                      Kestra.outputs({"rows": rows, "table": "finpay_reversal_transactions"})

                  - id: upload_reversal_to_sheets
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT10M
                    retry:
                      type: exponential
                      interval: PT15S
                      maxInterval: PT60S
                      maxAttempts: 3
                    inputFiles:
                      reversal.parquet: "{{ outputs.filter_reversal_rows.outputFiles['reversal.parquet'] }}"
                    env:
                      TARGET_SPREADSHEET: "{{ outputs.parse_and_resolve.vars.target_spreadsheet }}"
                      TARGET_WORKSHEET: "{{ outputs.parse_and_resolve.vars.reversal_worksheet }}"
                      SECRET_GCP_SA_KEY: "{{ secret('GCP_SA_KEY') }}"
                    script: |
                      import os, sys, tempfile, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import process_transaction_detail_upload, make_gspread_client
                      from kestra import Kestra

                      sa_key_json = os.environ.get("SECRET_GCP_SA_KEY", "")
                      if not sa_key_json or sa_key_json.strip() == "{}":
                          print("❌ GCP_SA_KEY secret is empty or not set.", file=sys.stderr)
                          sys.exit(1)

                      sa_key_path = None
                      try:
                          with tempfile.NamedTemporaryFile(mode="w", suffix=".json", delete=False) as f:
                              f.write(sa_key_json)
                              sa_key_path = f.name

                          reversal_df = pd.read_parquet("reversal.parquet")
                          client = make_gspread_client(sa_key_path)

                          written = process_transaction_detail_upload(
                              target_spreadsheet=os.environ["TARGET_SPREADSHEET"],
                              target_worksheet=os.environ["TARGET_WORKSHEET"],
                              detail_df=reversal_df,
                              gspread_client=client,
                              include_disbursement_date=False,
                          )

                          if len(reversal_df) == 0:
                              status = "no_rows"
                          else:
                              status = "success" if written else "skipped_duplicate"
                          print(f"✅ REVERSAL upload status: {status}. Rows: {len(reversal_df)}")
                          Kestra.outputs({
                              "status": status,
                              "rows": len(reversal_df),
                              "worksheet": os.environ["TARGET_WORKSHEET"],
                          })
                      finally:
                          if sa_key_path and os.path.exists(sa_key_path):
                              os.unlink(sa_key_path)

              # ── TASKS 6-7 ─ Prepare, summarize, then upload summary ─────────────────
              - id: summary_upload_branch
                type: io.kestra.plugin.core.flow.Sequential
                tasks:
                  # ── TASK 6a ─ Remove rows excluded from summary ─────────────────────
                  - id: prepare_summary_transactions
                    type: io.kestra.plugin.scripts.python.Script
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT3M
                    inputFiles:
                      deduplicated.parquet: "{{ outputs.deduplicate_transactions.outputFiles['deduplicated.parquet'] }}"
                    outputFiles:
                      - summary_ready.parquet
                    script: |
                      import sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import prepare_reversal_summary_transactions
                      from kestra import Kestra

                      df = pd.read_parquet("deduplicated.parquet")
                      before_counts = {str(k): int(v) for k, v in df["Transaction"].value_counts().items()}

                      df, summary_unusual_df = prepare_reversal_summary_transactions(df)
                      after_counts = {str(k): int(v) for k, v in df["Transaction"].value_counts().items()}
                      out_cluster_rows = int(
                          df["Transaction"].isin(["RECHARGE OUT CLUSTER", "RECHARGE OUT CLUSTER FEE"]).sum()
                      )
                      reversal_rows = int(
                          df["Transaction"].astype(str).str.startswith("Reversal - ").sum()
                      )
                      summary_unusual_rows = len(summary_unusual_df)
                      if summary_unusual_df.empty:
                          summary_excluded_rows = 0
                          summary_included_unusual_rows = 0
                      else:
                          summary_reasons = summary_unusual_df["unusual_reason"].astype(str)
                          summary_excluded_rows = int(
                              summary_reasons.str.contains("excluded from summary", regex=False).sum()
                          )
                          summary_included_unusual_rows = int(
                              summary_reasons.str.contains("included in summary", regex=False).sum()
                          )

                      df.to_parquet("summary_ready.parquet", index=False)

                      print(f"✅ Summary preparation complete. Out-cluster rows: {out_cluster_rows}")
                      print(f"✅ Reversal summary rows: {reversal_rows}")
                      print(f"⚠️  Summary unusual rows flagged: {summary_unusual_rows}")
                      print(f"⚠️  Summary unusual rows included in summary: {summary_included_unusual_rows}")
                      print(f"⚠️  Summary rows excluded from summary: {summary_excluded_rows}")
                      Kestra.outputs({
                          "rows": len(df),
                          "out_cluster_rows": out_cluster_rows,
                          "reversal_summary_rows": reversal_rows,
                          "summary_unusual_rows": summary_unusual_rows,
                          "summary_included_unusual_rows": summary_included_unusual_rows,
                          "summary_excluded_rows": summary_excluded_rows,
                          "reversal_unusual_rows": summary_unusual_rows,
                          "reversal_included_unusual_rows": summary_included_unusual_rows,
                          "reversal_excluded_rows": summary_excluded_rows,
                          "before_counts": before_counts,
                          "after_counts": after_counts,
                      })

                  # ── TASK 6b ─ Persist summary-ready transactions to Postgres ──────────
                  - id: persist_transactions_to_db
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    taskRunner:
                      type: io.kestra.plugin.scripts.runner.docker.Docker
                      networkMode: finpay-network
                    pythonVersion: "3.11"
                    timeout: PT5M
                    inputFiles:
                      summary_ready.parquet: "{{ outputs.prepare_summary_transactions.outputFiles['summary_ready.parquet'] }}"
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      FINPAY_DB_HOST: finpay-postgres
                      FINPAY_DB_PORT: "5432"
                      FINPAY_DB_NAME: finpay
                      FINPAY_DB_USER: finpay
                      FINPAY_DB_PASSWORD: finpay
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import postgres_dsn_from_env, write_finpay_dataframe_to_postgres
                      from kestra import Kestra

                      df = pd.read_parquet("summary_ready.parquet")
                      rows = write_finpay_dataframe_to_postgres(
                          df=df,
                          table_name="finpay_transactions",
                          cluster_id=os.environ["CLUSTER_ID"],
                          report_date=os.environ["ISO_DATE"],
                          dsn=postgres_dsn_from_env(),
                      )

                      print(f"✅ Persisted summary-ready transactions to Postgres. Rows: {rows}")
                      Kestra.outputs({"rows": rows, "table": "finpay_transactions"})

                  # ── TASK 6c ─ Summarize by transaction ──────────────────────────────
                  - id: summarize
                    type: io.kestra.plugin.scripts.python.Script
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT3M
                    inputFiles:
                      summary_ready.parquet: "{{ outputs.prepare_summary_transactions.outputFiles['summary_ready.parquet'] }}"
                    outputFiles:
                      - summary.parquet
                    env:
                      CLUSTER_ID: "{{ outputs.parse_and_resolve.vars.cluster_id }}"
                      ISO_DATE: "{{ outputs.parse_and_resolve.vars.iso_date }}"
                      DRY_RUN: "{{ inputs.dry_run }}"
                    script: |
                      import os, sys, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import summarize_by_transaction
                      from kestra import Kestra

                      cluster_id = os.environ["CLUSTER_ID"]
                      iso_date   = os.environ["ISO_DATE"]
                      dry_run    = os.environ.get("DRY_RUN", "false").lower() == "true"

                      df         = pd.read_parquet("summary_ready.parquet")
                      summary_df = summarize_by_transaction(df)

                      print(f"\n{'='*60}")
                      print(f"SUMMARY — Cluster {cluster_id} — {iso_date}")
                      if dry_run:
                          print("⚠️  DRY RUN — not written to sheet")
                      print(f"{'='*60}")
                      print(summary_df.to_string(index=False))
                      print(f"{'='*60}\n")

                      total_credit = float(summary_df["Sum_of_Kredit"].sum())
                      total_debet  = float(summary_df["Sum_of_Debet"].sum())

                      summary_df.to_parquet("summary.parquet", index=False)
                      Kestra.outputs({
                          "transaction_count": len(summary_df),
                          "transactions":      summary_df["Transaction"].tolist(),
                          "total_credit":      total_credit,
                          "total_debet":       total_debet,
                      })

                  # ── TASK 7 ─ Upload summary to Google Sheets ────────────────────────
                  - id: upload_to_sheets
                    type: io.kestra.plugin.scripts.python.Script
                    runIf: "{{ inputs.dry_run == false }}"
                    containerImage: finpay-pipeline:3.11
                    pythonVersion: "3.11"
                    timeout: PT10M
                    retry:
                      type: exponential
                      interval: PT15S
                      maxInterval: PT60S
                      maxAttempts: 3
                    inputFiles:
                      summary.parquet: "{{ outputs.summarize.outputFiles['summary.parquet'] }}"
                    env:
                      TARGET_SPREADSHEET: "{{ outputs.parse_and_resolve.vars.target_spreadsheet }}"
                      TARGET_WORKSHEET: "{{ outputs.determine_current_date.vars.summary_worksheet }}"
                      STARTING_BALANCE_DATE: "{{ outputs.parse_and_resolve.vars.starting_balance_date }}"
                      DEFAULT_STARTING_BALANCE: "{{ outputs.parse_and_resolve.vars.default_starting_balance }}"
                      SECRET_GCP_SA_KEY: "{{ secret('GCP_SA_KEY') }}"
                    script: |
                      import os, sys, json, tempfile, pandas as pd
                      sys.path.insert(0, "/app")
                      from pipeline import process_daily_upload, make_gspread_client
                      from kestra import Kestra

                      sa_key_json = os.environ.get("SECRET_GCP_SA_KEY", "")
                      if not sa_key_json or sa_key_json.strip() == "{}":
                          print("❌ GCP_SA_KEY secret is empty or not set.", file=sys.stderr)
                          sys.exit(1)

                      sa_key_path = None
                      try:
                          with tempfile.NamedTemporaryFile(mode="w", suffix=".json", delete=False) as f:
                              f.write(sa_key_json)
                              sa_key_path = f.name

                          summary_df = pd.read_parquet("summary.parquet")
                          client     = make_gspread_client(sa_key_path)

                          insert_row, footer_end = process_daily_upload(
                              target_spreadsheet=os.environ["TARGET_SPREADSHEET"],
                              target_worksheet=os.environ["TARGET_WORKSHEET"],
                              summary_df=summary_df,
                              starting_balance_date=os.environ["STARTING_BALANCE_DATE"],
                              default_starting_balance=int(os.environ["DEFAULT_STARTING_BALANCE"]),
                              gspread_client=client,
                          )

                          if insert_row is None:
                              print("⚠️  Sheet duplicate guard — date already exists.")
                              Kestra.outputs({
                                  "status": "skipped_duplicate",
                                  "worksheet": os.environ["TARGET_WORKSHEET"],
                              })
                          else:
                              print(f"✅ Written to sheet rows {insert_row}–{footer_end}.")
                              Kestra.outputs({
                                  "status": "success",
                                  "worksheet": os.environ["TARGET_WORKSHEET"],
                                  "insert_row": insert_row,
                                  "footer_end": footer_end,
                              })
                      finally:
                          if sa_key_path and os.path.exists(sa_key_path):
                              os.unlink(sa_key_path)

errors:
  # ── TODO: replace with a real notification plugin once your channel is ready ──
  # e.g. io.kestra.plugin.notifications.slack.SlackIncomingWebhook
  #      io.kestra.plugin.notifications.mail.SendMail
  #      io.kestra.plugin.notifications.teams.TeamsIncomingWebhook
  # ────────────────────────────────────────────────────────────────────────────
  - id: notify_on_failure
    type: io.kestra.plugin.scripts.python.Script
    containerImage: finpay-pipeline:3.11
    pythonVersion: "3.11"
    env:
      EXECUTION_ID: "{{ execution.id }}"
      FLOW_ID: "{{ flow.id }}"
      NAMESPACE: "{{ flow.namespace }}"
    script: |
      import os
      execution_id = os.environ.get("EXECUTION_ID", "unknown")
      flow_id      = os.environ.get("FLOW_ID",      "unknown")
      namespace    = os.environ.get("NAMESPACE",    "unknown")
      print("❌ Pipeline failed!")
      print(f"   Flow      : {namespace}.{flow_id}")
      print(f"   Execution : {execution_id}")
      print(f"   Logs      : /ui/executions/{execution_id}")
